
<div class="container">
  <div class="jumbotron">
    <p class="text-info">Clockwise Clockware.</p>
    <h1>Страница входа</h1>
    <div style="width: 300px">
      <form  [formGroup]="loginForm"   (ngSubmit)="onSubmit()">
        <label class="col-form-label">Введите логин или электрунную почту</label>
        <input class="form-control" type="text" formControlName="username" required>
        <label class="col-form-label">Пароль</label>
        <input class="form-control" type="password" formControlName="password">
        <p></p>
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid" >Войти</button>
        <div *ngIf="error">
          <p style="color : red"> Неверый логин или пароль</p>
          <p style="color : red"> Попробуйте снова</p>
        </div>
      </form>
    </div>
  </div>
</div>


